@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Infant', serif;
    
}

body{
    background-color: rgb(253, 242, 227);
}
#message{
    background-color: rgb(255, 231, 203);
}
h1{
    padding: 10px;
    align-items: center;
    text-align: center;
}

#collection{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: space-around;
    background-color: antiquewhite;
}


#loginForm{
    display: flex;
    align-items: center;
    justify-content:center;
    margin:30px;
    
}

.log div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
label{
    font-size: 24px;
}

#formEmail,
#formPassword{
    border: 1px;
    border-style: solid;
    
}

#errorMessage{
    padding: 10px;
    font-size: 18px;
    color: rgb(192, 56, 56);
}

#btnLogin,
#btnSignup,
#btnLogout{
    width: 100px;
    height: 30px;
    font-size: 20px;
    border: 1px;
    border-style: solid;
    border-radius: 5px;
    margin: 20px 30px;    
}

#userAuth{
    display: flex;
    justify-content: right;
    align-items: center;
}
#btnLogout{
   margin-right: 40px;
}

#btnLogin:hover,
#btnSignup:hover,
#btnLogout:hover{
    cursor:pointer;
}



div.book{
    margin:30px 15px;
    padding: 10px;
    font-size: 20px;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(250, 243, 233);
    width: 250px;
    height: 350px;
}

.book p{
    padding:5px;
    
}

span{
    font-weight: 700;

}

input{
    font-size: 16px;
    padding: 5px;
    margin: 15px;
    font-weight: 700;
    border-radius: 8px;
    border-style: solid;    
    border-color: rgb(155, 153, 153);
   
}
.buttons{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    
}

input[type="submit"]{
    background-color: rgb(161, 192, 173);
}
input[type="reset"]{
    background-color: rgb(224, 169, 169);
}
input[type="submit"]:hover {
    background-color: rgb(186, 219, 200);
    cursor: pointer;
}
input[type="reset"]:hover {
    background-color: rgb(240, 187, 187);
    cursor: pointer;
}